#1 Importing Data

In [0]:
import pandas as pd
import numpy as np
import datetime as dt
import requests
import sys
#import pycountry
#import pycountry_convert as pc
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import json
%matplotlib inline

In [0]:
pip install pycountry

Collecting pycountry
  Downloading https://files.pythonhosted.org/packages/16/b6/154fe93072051d8ce7bf197690957b6d0ac9a21d51c9a1d05bd7c6fdb16f/pycountry-19.8.18.tar.gz (10.0MB)
     |████████████████████████████████| 10.0MB 4.2MB/s
Building wheels for collected packages: pycountry
  Building wheel for pycountry (setup.py) ... done
  Created wheel for pycountry: filename=pycountry-19.8.18-py2.py3-none-any.whl size=10627361 sha256=9b14d0710ce91f45c701c25f21ba2f18e52d6eaffca73a6ba5f11624a781437b
  Stored in directory: /root/.cache/pip/wheels/a2/98/bf/f0fa1c6bf8cf2cbdb750d583f84be51c2cd8272460b8b36bd3
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-19.8.18

In [0]:
covid = pd.read_csv('https://raw.githubusercontent.com/subhanu777/Python-practice-and-research-for-covid--19/master/covid_19_india.csv')
statewise_test = pd.read_csv('https://raw.githubusercontent.com/subhanu777/Python-practice-and-research-for-covid--19/master/StatewiseTestingDetails.csv')
individual_details = pd.read_csv('https://raw.githubusercontent.com/subhanu777/Python-practice-and-research-for-covid--19/master/StatewiseTestingDetails.csv')

In [0]:
covid

       Sno      Date     Time  ... Cured Deaths Confirmed
0        1  30/01/20  6:00 PM  ...     0      0         1
1        2  31/01/20  6:00 PM  ...     0      0         1
2        3  01/02/20  6:00 PM  ...     0      0         2
3        4  02/02/20  6:00 PM  ...     0      0         3
4        5  03/02/20  6:00 PM  ...     0      0         3
...    ...       ...      ...  ...   ...    ...       ...
1377  1378  27/04/20  5:00 PM  ...   280     26      1002
1378  1379  27/04/20  5:00 PM  ...     2      0         2
1379  1380  27/04/20  5:00 PM  ...    33      0        51
1380  1381  27/04/20  5:00 PM  ...   335     31      1955
1381  1382  27/04/20  5:00 PM  ...   105     20       649

[1382 rows x 9 columns]

In [0]:
statewise_test

           Date        State  TotalSamples  Negative  Positive
0    2020-02-17       Kerala           423     406.0         3
1    2020-02-18       Kerala           425     420.0         3
2    2020-02-19       Kerala           432     423.0         3
3    2020-02-20       Kerala           433     423.0         3
4    2020-02-21       Kerala           437     426.0         3
..          ...          ...           ...       ...       ...
196  2020-04-10       Odisha          3249    3201.0        48
197  2020-04-10       Punjab          3461    2972.0       151
198  2020-04-10    Rajasthan         22324   20673.0       520
199  2020-04-10   Tamil Nadu          8410    6838.0       911
200  2020-04-11  Maharashtra         31841   30477.0      1364

[201 rows x 5 columns]

In [0]:
individual_details

           Date        State  TotalSamples  Negative  Positive
0    2020-02-17       Kerala           423     406.0         3
1    2020-02-18       Kerala           425     420.0         3
2    2020-02-19       Kerala           432     423.0         3
3    2020-02-20       Kerala           433     423.0         3
4    2020-02-21       Kerala           437     426.0         3
..          ...          ...           ...       ...       ...
196  2020-04-10       Odisha          3249    3201.0        48
197  2020-04-10       Punjab          3461    2972.0       151
198  2020-04-10    Rajasthan         22324   20673.0       520
199  2020-04-10   Tamil Nadu          8410    6838.0       911
200  2020-04-11  Maharashtra         31841   30477.0      1364

[201 rows x 5 columns]

# Split train and test data

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
covid_train, covid_test = train_test_split(covid, test_size=0.2)

In [0]:
covid_train

       Sno      Date      Time  ... Cured Deaths Confirmed
393    394  27/03/20  10:00 AM  ...     1      0        12
1178  1179  21/04/20   5:00 PM  ...     0      0         1
270    271  22/03/20   6:00 PM  ...     0      0         5
632    633  04/04/20   6:00 PM  ...    12      3       128
568    569  02/04/20   6:00 PM  ...     1      1         3
...    ...       ...       ...  ...   ...    ...       ...
659    660  05/04/20   6:00 PM  ...     1      1         6
116    117  12/03/20   6:00 PM  ...     0      0         1
40      41  04/03/20   6:00 PM  ...     3      0         3
1014  1015  16/04/20   5:00 PM  ...     0      0         0
644    645  04/04/20   6:00 PM  ...     1      7       159

[1105 rows x 9 columns]

In [0]:
covid_test

       Sno      Date     Time  ... Cured Deaths Confirmed
1250  1251  23/04/20  5:00 PM  ...     1      0         2
463    464  29/03/20  7:30 PM  ...     0      0         1
988    989  15/04/20  5:00 PM  ...     0      0         2
565    566  02/04/20  6:00 PM  ...     0      0         5
1051  1052  17/04/20  5:00 PM  ...   164     11      1131
...    ...       ...      ...  ...   ...    ...       ...
79      80  09/03/20  6:00 PM  ...     0      0         1
841    842  11/04/20  5:00 PM  ...    31     19       308
563    564  02/04/20  6:00 PM  ...     2      0         9
357    358  25/03/20  6:00 PM  ...     1      0        18
375    376  26/03/20  6:00 PM  ...     1      0        13

[277 rows x 9 columns]

# Checking Details

In [0]:
covid_train.all

<bound method DataFrame.all of        Sno      Date      Time  ... Cured Deaths Confirmed
393    394  27/03/20  10:00 AM  ...     1      0        12
1178  1179  21/04/20   5:00 PM  ...     0      0         1
270    271  22/03/20   6:00 PM  ...     0      0         5
632    633  04/04/20   6:00 PM  ...    12      3       128
568    569  02/04/20   6:00 PM  ...     1      1         3
...    ...       ...       ...  ...   ...    ...       ...
659    660  05/04/20   6:00 PM  ...     1      1         6
116    117  12/03/20   6:00 PM  ...     0      0         1
40      41  04/03/20   6:00 PM  ...     3      0         3
1014  1015  16/04/20   5:00 PM  ...     0      0         0
644    645  04/04/20   6:00 PM  ...     1      7       159

[1105 rows x 9 columns]>

In [0]:
covid_train.isna().sum()

Sno                         0
Date                        0
Time                        0
State/UnionTerritory        0
ConfirmedIndianNational     0
ConfirmedForeignNational    0
Cured                       0
Deaths                      0
Confirmed                   0
dtype: int64

In [0]:
covid_train.describe

<bound method NDFrame.describe of        Sno      Date      Time  ... Cured Deaths Confirmed
393    394  27/03/20  10:00 AM  ...     1      0        12
1178  1179  21/04/20   5:00 PM  ...     0      0         1
270    271  22/03/20   6:00 PM  ...     0      0         5
632    633  04/04/20   6:00 PM  ...    12      3       128
568    569  02/04/20   6:00 PM  ...     1      1         3
...    ...       ...       ...  ...   ...    ...       ...
659    660  05/04/20   6:00 PM  ...     1      1         6
116    117  12/03/20   6:00 PM  ...     0      0         1
40      41  04/03/20   6:00 PM  ...     3      0         3
1014  1015  16/04/20   5:00 PM  ...     0      0         0
644    645  04/04/20   6:00 PM  ...     1      7       159

[1105 rows x 9 columns]>

In [0]:
population = pd.read_csv('https://raw.githubusercontent.com/subhanu777/Python-practice-and-research-for-covid--19/master/population_india_census2011.csv')
icmrlab = pd.read_csv('https://raw.githubusercontent.com/subhanu777/Python-practice-and-research-for-covid--19/master/ICMRTestingLabs.csv')

In [0]:
population.head(4)

   Sno          state  ...                  Density  Gender Ratio
0    1  Uttar Pradesh  ...    828/km2 (2,140/sq mi)           912
1    2    Maharashtra  ...      365/km2 (950/sq mi)           929
2    3          Bihar  ...  1,102/km2 (2,850/sq mi)           918
3    4    West Bengal  ...  1,029/km2 (2,670/sq mi)           953

[4 rows x 8 columns]

In [0]:
icmrlab.head(4)

                                                 lab  ...                   type
0  ICMR-Regional Medical Research Centre, Port Blair  ...  Government Laboratory
1  Tomo Riba Institute of Health & Medical Scienc...  ...        Collection Site
2  Sri Venkateswara Institute of Medical Sciences...  ...  Government Laboratory
3                Rangaraya Medical College, Kakinada  ...  Government Laboratory

[4 rows x 6 columns]

In [0]:
lab_pop = icmrlab.merge(population, how='left', on='state')

In [0]:
lab_pop.head(4)

                                                 lab  ... Gender Ratio
0  ICMR-Regional Medical Research Centre, Port Blair  ...        876.0
1  Tomo Riba Institute of Health & Medical Scienc...  ...        938.0
2  Sri Venkateswara Institute of Medical Sciences...  ...        993.0
3                Rangaraya Medical College, Kakinada  ...        993.0

[4 rows x 13 columns]

In [0]:
lab_pop.isnull().sum()

lab                  0
address              0
pincode              0
city                 0
state                0
type                 0
Sno                 19
Population          19
Rural population    19
Urban population    19
Area                19
Density             19
Gender Ratio        19
dtype: int64

In [0]:
display(covid_train.head())

       Sno      Date      Time  ... Cured Deaths Confirmed
393    394  27/03/20  10:00 AM  ...     1      0        12
1178  1179  21/04/20   5:00 PM  ...     0      0         1
270    271  22/03/20   6:00 PM  ...     0      0         5
632    633  04/04/20   6:00 PM  ...    12      3       128
568    569  02/04/20   6:00 PM  ...     1      1         3

[5 rows x 9 columns]

In [0]:
display(lab_pop.head())

                                                 lab  ... Gender Ratio
0  ICMR-Regional Medical Research Centre, Port Blair  ...        876.0
1  Tomo Riba Institute of Health & Medical Scienc...  ...        938.0
2  Sri Venkateswara Institute of Medical Sciences...  ...        993.0
3                Rangaraya Medical College, Kakinada  ...        993.0
4               Sidhartha Medical College, Vijaywada  ...        993.0

[5 rows x 13 columns]

In [0]:
j = requests.get(url='https://raw.githubusercontent.com/geohacker/india/master/state/india_telengana.geojson')
geojson = j.json()

In [0]:
covid_train.dropna(how='all', inplace=True)
#adding date and time at the last of the list
covid_train['DateTime'] = pd.to_datetime(covid_train['Date'], format = '%d/%m/%y')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
covid_train

       Sno      Date      Time  ... Deaths Confirmed   DateTime
393    394  27/03/20  10:00 AM  ...      0        12 2020-03-27
1178  1179  21/04/20   5:00 PM  ...      0         1 2020-04-21
270    271  22/03/20   6:00 PM  ...      0         5 2020-03-22
632    633  04/04/20   6:00 PM  ...      3       128 2020-04-04
568    569  02/04/20   6:00 PM  ...      1         3 2020-04-02
...    ...       ...       ...  ...    ...       ...        ...
659    660  05/04/20   6:00 PM  ...      1         6 2020-04-05
116    117  12/03/20   6:00 PM  ...      0         1 2020-03-12
40      41  04/03/20   6:00 PM  ...      0         3 2020-03-04
1014  1015  16/04/20   5:00 PM  ...      0         0 2020-04-16
644    645  04/04/20   6:00 PM  ...      7       159 2020-04-04

[1105 rows x 10 columns]

# Example of how to change some values in table

In [0]:
def change_state_name(state):
    if state == 'Odisha':
        return 'Orissa'
    elif state == 'Telengana':
        return 'Telangana'
    return state

In [51]:
covid_train['State/UnionTerritory'] = covid_train.apply(lambda x: change_state_name(x['State/UnionTerritory']), axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [62]:
last_date = covid_train.DateTime.max()
covid_train = covid_train[covid_train['DateTime']==last_date]

AttributeError: ignored

In [63]:
col =['State/UnionTerritory', 'Cured', 'Deaths', 'Confirmed']
covid_train = covid_train[col]
covid_train.sort_values('Confirmed', inplace=True, ascending=False)
covid_train.reset_index(drop=True, inplace=True)
covid_train.style.background_gradient(cmap='PuBu')

In [64]:
col =['State/UnionTerritory', 'Cured', 'Deaths', 'Confirmed']
covid_train = covid_train[col]
covid_train.sort_values('Confirmed', inplace=True, ascending=False)
covid_train.style.background_gradient(cmap='viridis')

In [0]:
r = requests.get(url='https://raw.githubusercontent.com/deldersveld/topojson/master/countries/india/india-states.json')
geojson = r.json()

In [85]:
india_map = px.choropleth(covid_train, color="Confirmed", 
                      locations="State/UnionTerritory", geojson=geojson, featureidkey="properties.NAME_1",
                    hover_data=['Cured','Deaths'],
                    color_continuous_scale=px.colors.sequential.Viridis,
                    title='India: Map view of total current cases statewise')
india_map.update_geos(fitbounds="locations", visible=True)
india_map.update_geos(projection_type="orthographic")
india_map.update_layout(height=600,margin={"r":0,"t":30,"l":0,"b":30})
india_map.show()

TypeError: ignored